@model ContactMail
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href = "site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="C:\Users\colac\source\repos\Cakeryz\Cakeryz\wwwroot\js\site.js"></script>
</head>

<body>

    <header>

    </header>

    <script type="text/javascript">
        $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
    });
        function openwindow(pageNm){ 
        window.open(pageNm, '_Self');
        //window.open(pageNm, '_Blank','Height=400, Width=600 Top=200,left=300,scrollbars=no,resizable=no');
    }

</script>
<div class= "loader-wrapper">
    <span class = "loader"><span class="dot"></span></span>
</div>
   <main class ="main">
       <div id="background">
           <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg floating " id="containerFlowIn">
               <h1 style="font-family: 'Freestyle Script';font-size:80px;font-weight:400; opacity:1;"><span id="delText">Sweet Sensations Await You! </span></h1>
               <p style="font-size:24px;">Our Ovens are on and our doors are open</p>
               <p><span style="border-bottom: 1px solid #505355;">Contact us to order!</span></p>
               <p style="font-size: 16px;">
                   <a href="mailto:zcakery@outlook.com"> contact@TheCakery.com</a>  <a href="tel:0800-820-7234">0800-820-7234</a><br>
               </p>
           </div>
       </div>
       <div style="opacity:100;" class="lead position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg " id="containerFlowIn2">
           <div class="row">
               <div id = "rows" class="col-lg-4 grow ">
                   <img class="" src="../Images/Chocolatecake.png" style="height: 140px; margin: 10px" alt="Chocolate Cake">
                   <h2 class="lead trans-2" style="font-size: 35px">Chocolate Mud Cake</h2>
                   <div class="">
                       <p>Chocolate Haven! Indulge in this rich chocolate mudcake covered in the silkiest ganache.</p>
                   </div>
               <input class=" btn btn-secondary btn-detail" type="button" value="View Details" onclick=openwindow("../Home/MudCake") />
               </div>
               <div id = "rows"class="col-lg-4 grow">
                   <img src="../Images/CaramelSlice.png" style="height: 140px; margin: 10px;opacity:0.85;" alt="Caramel Slice">
                   <h2 class=" lead trans-2" style="font-size: 35px">Caramel Slice</h2>
                   <div >
                       <p> Have a sweet snack, our caramel slice has the smoothest caramel with a tempered chocolate coating.</p>
                   </div>
                   <p><a class=" btn btn-secondary btn-detail" href="#002">View details </a></p>
               </div>
               <div id ="rows" class="col-lg-4 grow">
                   <img class="" src="../Images/Cheesecake.png" style="height: 140px; margin: 10px" alt="New York Cheesecake">
                   <h2 class=" lead trans-2" style="font-size: 35px">New York Cheesecake</h2>
                   <div >
                       <p> Enjoy a classic made with love, homemade cheesecakes are a whole new level of deliciousness.</p>
                   </div>
                   <p><a class=" btn btn-secondary btn-detail" href="#003">View details </a></p>
               </div>
           </div>
       </div>
       <div style="opacity:100;" class="lead position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg" id="containerFlowIn3">
           <div class="row">
               <div id = "rows"class="col-lg-4 grow">
                   <img class="" src="../Images/BlackForest.png" style="height: 140px; margin: 10px" alt="Black Forest">
                   <h2 class="lead trans-2" style="font-size: 35px">Black Forest</h2>
                   <div class="">
                       <p> Our blackforest cake is layered with delicousness and topped fresh candied cherries. </p>
                   </div>
                   <p><a class=" btn btn-secondary btn-detail" href="#004">View details </a></p>
               </div>
               <div id = "rows"class="col-lg-4 grow ">
                   <img class="" src="../Images/Cupcakes.png" style="height: 140px; margin: 10px" alt="Chocolate Cupcakes">
                   <h2 class=" lead trans-2" style="font-size: 35px">Chocolate Cupcakes</h2>
                   <div class="">
                       <p> Light and fluffy chocolate cupcakes with creamy chocolate buttercream frosting, you would never guess ...it's vegan</p>

                   </div>
                   <p><a class=" btn btn-secondary btn-detail" href="#005">View details </a></p>
               </div>
               <div id = "rows"class="col-lg-4 grow">
                   <img class="" src="../Images/Banoffee.png" style="height: 140px; margin: 10px" alt="Banoffee Pie">
                   <h2 class=" lead trans-2" style="font-size: 35px">Banoffee Pie</h2>
                   <div class="">
                       <p> Our speciality! Our signature Bannoffee pie is a hot pick, dissappears in second...hurry before it's too late!</p>
                   </div>
                   <p><a class=" btn btn-secondary btn-detail" href="#006">View details </a> </p>
               </div>
           </div>
       </div>
       <br id="About" />
       <br/>
              <br/>
              <br/>
       <div class="row">
           <div  id="demo" class=" column carousel slide " data-bs-ride="carousel">
                           <!-- Indicators/dots -->
                           <div class="carousel-indicators">
                               <button type= "button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
                               <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
        </div>

                           <!-- The slideshow/carousel -->
                           <div class="carousel-inner carousel-item active slide">
                               <img src="../Images/Cupcakes2.jpg" alt="Cupcakes" class="d-block w-100" >
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/ChocoChip.jpg" alt="Chocolate Chip" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/Gift2.jpg" alt="Cupcake Boquet" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/BlackForest3.jpg" alt="Black Forest" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/Fancy.jpg" alt="Fancy Cake" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/Truffles.jpg" alt="Chocolate Truffles" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/Crossiants.jpg" alt="Crossiant" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                               <img src="../Images/Banoffee2.jpg" alt="Banoffee Pie" class="d-block w-100">
                           </div>

                           <!-- Left and right controls/icons -->
                           <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon"></span>
                           </button>
                           <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                               <span class="carousel-control-next-icon"></span>
                           </button>
                           
           </div >
           <div class="column">
               <div class="content">
                   <p style="font-family:'Freestyle Script';font-size:60px;font-weight:200; background-color:transparent;">What makes our products special?<p>
                   <p style="font-family:Gabriola;font-size:30px;">Growing up in a large family with lots of cousins with severe allergies, birthday parties were a little strange. Children were told they couldn't eat their own birthday cake." - Zara Colaco (founder)</p>
                   <p style="font-family:'Gabriola'; font-size:30px;">
                       Other than organic stores, which sell over priced goods,it's uncommon to find an allergen friendly cake in your normal supermarket and most bakeries. Catering for your family and friends' dietary needs can be difficult, so let us do the work for you. Most of our products are available nutfree, dairy free, or vegan. 
                   </p>
                   <p style="font-family:'Gabriola'; font-size:30px;">Let us ease your stress for that next special occasion!</p>
               </div>
           </div>
       </div>
       <br id="OurProducts" />
       <br />
       <br />
       <br />
 <p style="font-family:'Freestyle Script';font-size:60px;font-weight:200; background-color:transparent; text-align:center;"> Our Products<p>
     <div class="">
     <div style="opacity:100;" class="lead position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg " id="containerFlowIn4">
           <div class="row">
               <div id = "001" class="col-lg-4 grow card height = 700px ">
               <img src="../Images/Chocolatecake.png" alt="Chocolate Mud Cake" style="width:100%">
               <h1>Chocolate Mud Cake</h1>
               <p class="price">$45.00</p>
               <p>Our molten mud chocolate cake is mouth-watering and decadent. It's a dense cake which can satisfy in just one slice! </p>
               <p>Allergn Information: Contains Dairy and Eggs.</p>
               <p><button>Add to Cart</button></p>
               </div>
               <div id ="002" class="col-lg-4 grow card">
                <img src="../Images/CaramelSlice.png" alt="Caramel Slice" style="width:100%">
               <h1>Caramel Slice</h1>
               <p class="price">$15.00</p>
               <p>Our scrumptious caramel slice is perfect for your afternoon snack.With a gooey chewy caramel and crunchy biscuit base, you can be sure to satisfy your sweeth tooh.</p>
               <p>Allergn Information: Contains Dairy</p>
               <p><button>Add to Cart</button></p>
               </div >
               <div id ="003" class="col-lg-4 grow card">
                <img src="../Images/Cheesecake.png" alt="New York Cheesecake" style="width:100%">
               <h1>New York Cheesecake</h1>
               <p class="price">$59.99</p>
               <p>This baked New York style cheesecake is made with authentic philadelphia cream cheese and comes with a topping of your choice. It's luscious, smooth and delicate with pops of flavour from zemon zest.</p>
               <p>Allergn Information: Contains Dairy and Eggs.</p>
               <p><button>Add to Cart</button></p>
               </div>
               </div>
               </div>
               <br />
            <div style="opacity:100;" class="lead position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg " id="containerFlowIn4">
           <div class="row">
               <div id ="004" class="col-lg-4 grow card">
               <img src="../Images/BlackForest3.jpg" alt="Black Forest" style="width:100%">
               <h1>Black Forest</h1>
               <p class="price">$29.99</p>
               <p>This goregous, multilayered cake will leave your mouth watering for more. A decandant chocolate sponge cake layyered with whipped cream, berry copote and fresh cherries.</p>
               <p>Allergn Information: Contains Dairy and Eggs.</p>
               <p><button>Add to Cart</button></p>
               </div >
               <div id ="005" class="col-lg-4 grow card">
               <img src="../Images/Cupcakes2.jpg" alt="Cupcakes" style="width:100%">
               <h1>Chocolate Cupcakes</h1>
               <p class="price">$25.00</p>
               <p>These delicious chocolate cupcakes, are topped with a smooth chocolate buttercream. Made with the best high quality, dairy free, indgredients these are perfect to gift and share with your loved ones.</p>
               <p>Allergn Information: Vegan</p>
               <p><button>Add to Cart</button></p>
               <br />
               </div >
               <div id ="006" class="col-lg-4 grow card">
               <img src="../Images/Banoffee2.jpg" alt="Cupcakes" style="width:100%">
               <h1>Banoffee Pie</h1>
               <p class="price">$35.00</p>
               <p>Chefs kiss. It doesnt get better than this. Our banoffee pie is our speciality!This restaurant quality dessert that I gurantee you can't find at your local supermarket, will bless your palate.</p>
               <p>Allergn Information: Contains Dairy.</p>
               <p><button>Add to Cart</button></p>
               </div >
               </div >
               </div>
               </div>
               <br id="Contact"/>
               <br/>
               <br/>


            <div class="row ">
                <div class="column">
                    <div>
                        <img class="ContactImage " src='../Images/Contact.png' />

                    </div>
                </div>
                <div class="column" style="text-align:center;">
                    <h3 id="Contact" style="font-family:'Freestyle Script';font-size:60px;font-weight:200;" class="feature-title">Get in Touch!</h3>
                     <br />
                    <br />
                    <form method="post">

                            <div class="w3-half">

                                <input size="50" class="w3-input w3-border form control" type="text" asp-for="@Model.Name" placeholder="Name" required name="Name">
                                <span class="text-danger" asp-validation-for="@Model.Name"></span>
                            </div>
                            <br />
                            <div class="w3-half">

                                    <input size="50" class="w3-input w3-border form control" type="text" asp-for="@Model.Email" placeholder="Email" required name="Email">
                                <span class="text-danger" asp-validation-for="@Model.Email"></span>
                            </div>
                            <br />
                        <div>
                            <textarea class="w3-input w3-border form control resizedTextbox" type="text" asp-for="@Model.Message" placeholder="Message" required name="Message"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Message"></span>
                        </div>
                        <br />
                        <br />
                        <button class="btn btn-secondary btn-block" type="submit">Submit</button>
                    </form>
                </div>
                </div>

@*      <script>
        let user = new User(firstName.value, lastName.value, Email.value);
        function sendResponse (user);{
         
        }
        alert("Thanks for contacting us! we'll get back to you as soon as possible");
function sendMail(str) {
    var link = "mailto:zcakery@outlook.com" + "&subject=" + escape("Cakery Query") + "&body=" + escape(str);
    location.href = link;
}
function sendResponse() {
var name = document.forms["contact_form"]["Name"].value;
var Email = document.forms["contact_form"]["Email"].value;
var Comment = document.forms["contact_form"]["Location"].value;
if((name !="") && (Email !="") && (Comment !="")) {
   sendMail("HELLO");
}
}*@
    
</script>
       <div class="background2 scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
           <p id="Soon" style="font-family:'Freestyle Script';font-size:60px;font-weight:200; background-color:transparent; text-align:center;">Coming Soon...<p>
           <p style="text-align:center"> COVID 19 has changed our way of life, from birthdays to big celebrations, we've all had our fair share of missed opportunities. With the launch of our online gifting service, you can be sure you're not forgotten. Share the love of our delicious desserts with family and friends, especially on those special occasions your presence is missed. </p>
       </div>
   </main>

</body>
</html>
